alias cat='bat'
alias ls='ls -G'
alias -g grep='grep --color=auto'
alias cp='cp -iv'
alias mv='mv -iv'
alias ht='http-server .'
alias cht='~/.cht-search.sh'
alias fs='fd --type f --hidden --exclude (.git|.DS_Store|node_modules) --print0 | fzf-tmux -p --read0 --print0 --exit-0 | xargs -r -0 nvim'

alias hosts='sudo nvim /etc/hosts'
# alias vhosts='nvim /usr/local/etc/httpd/extra/httpd-vhosts.conf'
alias vhosts='nvim /opt/homebrew/etc/httpd/extra/httpd-vhosts.conf'

alias proc-cartillas='~/procesar_cartillas.sh'

# folders
alias projects='cd ~/Projects'
alias pj='cd ~/Projects'
alias dl='cd ~/Downloads'
alias cn='cd ~/Documents/Canillita'

alias mp3='yt-dlp --extract-audio --audio-format mp3'
alias download='yt-dlp'

# falta fix - mejor usar una fn
# alias co='fd -HLI -t f . -E node_modules -E .git -E *cache | code $(fzf)'

# export FZF_DEFAULT_COMMAND='fd'


# mogrify - convertir imgs
function conv(){
  args=("$@")
    dest=converted-$(date +"%H%M%S")
    limit=500 #limit size en KB
    width= #width para -resize
    target= #especificar input
    [[ ! -d "$dest" ]] && mkdir "$dest"
    for ((i=0; i < $#; i++)) {
      if [[ ${args[$i]} = "-limit" ]] then
        limit=${args[$i+1]}
      elif [[ ${args[$i]} = "-width" ]] then
        width=${args[$i+1]}
      elif [[ ${args[$i]} = "-target" ]] then
        target=${args[$i+1]}
      fi
    }
  mogrify -verbose -path $dest -format jpg -define jpeg:extent=${limit}KB $([[ ${width} ]] && echo -resize $width) *$([[ ${target} ]] && echo .$target)
}

# workaround nvim relativo ya que me volví loco queriendo hacer que nvim establezca cwd a la carpeta por args
function nvim(){
  bin=/opt/homebrew/opt/neovim/bin/nvim
  if [ ! -z "$1" ]; then
    if [[ -d $1 ]]; then
      cd "$1" && echo -ne "\e]1;${PWD##*/}\a"; $bin; cd -;
    else
       $bin $1;
    fi
  else
    $bin
  fi
}

# git pull sin cd
function pull(){
  cd "$1" && git pull && cd ..;
}

function f(){
  code $(fzf);
}

fzf-open-code() {
  local output
  output=$(fzf --height 40% --reverse </dev/tty) && code ${(q-)output}
  zle reset-prompt
}

zle -N fzf-open-code
bindkey '^o' fzf-open-code


