
alias ..='smartcd'
alias c='clear'
alias cat='bat'
alias nv='nvim'
alias ls='ls -G'
alias la='ls -lahG'
alias -g grep='grep --color=auto'
alias cp='cp -iv'
alias mv='mv -iv'
alias gw='git worktree'
alias lg='lazygit'
alias ssh='TERM=xterm-256color \ssh'
alias fs='fd --type f --hidden --exclude (.git|.DS_Store|node_modules) --print0 | fzf-tmux -p --read0 --print0 --exit-0 | xargs -r -0 nvim'
alias test-color='curl -o- https://gist.githubusercontent.com/lifepillar/09a44b8cf0f9397465614e622979107f/raw/24-bit-color.sh | bash'

alias hosts='sudo nvim /etc/hosts'
alias vhosts='nvim /opt/homebrew/etc/httpd/extra/httpd-vhosts.conf' #'/usr/local/etc/httpd/extra/httpd-vhosts.conf'
alias fixint='sudo ~/fixinternet.sh'

# paths
alias pj='cd ~/Projects'
alias dl='cd ~/Downloads'
alias -g lf='"$(ls -tp | grep -v / | head -n1)"'
alias -g lp='"$(ls -tp | grep / | head -n1)"'
alias -g ld='"$(cd ~/Downloads && echo $(pwd)/$(ls -t | head -n1))"'
alias xld='7zz x $(ld)'
alias xlf='7zz x $(lf)'
alias th='trash'
alias lth='la -tlha ~/.Trash | head -10'

alias mp3='yt-dlp --no-mtime --extract-audio --audio-format mp3 -P ~/Downloads -o "%(title)s.%(ext)s"'
alias download='yt-dlp --no-mtime -P ~/Downloads -o "%(title)s.%(ext)s"'
alias download-ig="yt-dlp -f bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4] --downloader ffmpeg --downloader-args 'ffmpeg:-c:v libx264 -vf scale=1080:1920'"

# copy last downloaded
cld(){
  cp $(echo $(cd ~/Downloads && echo $(pwd)/$(ls -t | head -n1))) $1
}

# remove last downloaded
rld(){
  trash -v $(echo $(cd ~/Downloads && echo $(pwd)/$(ls -t | head -n1)))
}

smartcd() {
    local target=""
    local num=1
    local dir=""

    if [[ $1 =~ ^[0-9]+$ ]]; then
        num=$1
        shift
    fi
    for ((i=1; i<=num; i++)); do target+="../" done

    dir="${target}${*}"
    cd "$dir" || return
}

ht() {
    local port=${1:-0}
    static-web-server -d . -p "808$port"
}

